body {
    font-family: 'Arial', sans-serif;
    background-color: #ffe6e6; /* Hafif pembe arka plan */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 90%;
}

h1 {
    color: #ff4d4d; /* Kırmızı tonlarında başlık */
}

p {
    font-size: 1.2em;
    margin-bottom: 15px;
}

audio {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}
